body{
    margin: 0;
    padding: 0;
    
}
header{
    height: 70vh;
    width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/maticulating.jpg);
  background-size: cover;
}
.tab2 img{
    margin-top: 10px;
   width: 100px;
    padding-left: 40px;
}
.tab2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.tab-ul{
    flex: 1;
   }
.tab-ul ul{
   margin-left: 50%;
}
.tab-ul ul li{
    padding-right: 40px;
    color: #fff; 
    display: inline-block;
    font-family: arial;
    list-style: none;
    font-size: 18px;
}
.tab-ul ul li a{
    color: white;
    text-decoration: none;

}
.tab-ul ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.tab-ul ul li:hover::after{
    width: 100%;
}

.text{
   
    color: white;
    position: absolute;
    top: 25%;
    left:40%;
    transform: translateX(-50%,-50%);
    text-align: center;
    }
    .text h1{
        font-weight: 600px;
        font-size: 60px;
       margin-bottom: 0;padding-bottom: 0;
       margin-bottom: 20px;
       letter-spacing: 15px;
    }
   
    .text a{
        margin-top: 5px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid #fff;
        
        transition: 0.5s;
    }
    .text a:hover{
        background-color: #f44336;
        border: 2px solid #f44336;
    }
    .tab-ul .fa{
        display: none;
    }
    .attract{
        height: 80vh;
        display: flex;
        gap: 50px;
        padding-top: 100px;
        padding-left: 80px;
    }
    
    .attract .attract-img img{
        width: 600px;
    }
    .attract .attract-text {
        width: 600px;
    }
   .attract-text h1{
        font-weight: bolder;font-size: 40px;
    }
    .attract .attract-text p{
        width: 400px;
        margin-bottom: 40px;
    }
    .attract a{
    
        margin-top: 5px;
        color: black;
        font-size: 20px;
        padding: 15px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid #f44336;
        transition: 0.5s;
    }
    .attract a:hover{
        background-color: #f44336;
        border: 2px solid #f44336;
    }
    .moral{
        height: 40vh;
        text-align: center;
       
          }
         .moral .fa{
           color: red;
           display: inline-block;
           z-index: 200px;
         }
     












    @media(max-width:850px) {
        .text h1{
            font-size: 40px;
            letter-spacing: 10px;   
         
    }   
    .text{
   
        color: white; 
        position: absolute;
        top:25%;
        left:25%;           
        }
        .text a{
            font-size: 15px;
        }
        
          .tab-ul ul li{
            margin-top: 30px;
          display: block;

           }
           .tab-ul ul{
            margin-left: 0;
            margin-top: 80px;
           }
           .tab-ul{
            position: fixed;
            background: #f44336;
            height: 70vh;
            width: 200px;
            top: 0;
            right: 0;
            text-align: left;
            z-index: 2;
            transition: 1s;
           }

           .tab2 .fa{
            display: block;
            margin: 10px;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            font-weight: bolder;
            padding-right: 8px;
            margin-top: 0;
           }

            .attract{
        height: 80vh;
        display: flex;
        gap: 50px;
        padding-top: 100px;
        padding-left: 80px;
    }
    .attract .attract-img img{
        width: 600px;
    }
    .attract .attract-text {
        width: 600px;
    }
   .attract-text h1{
        font-weight: bolder;font-size: 50px;
    }
    .attract .attract-text p{
        width: 400px;
        margin-bottom: 40px;
    }
    .attract a{
    
        margin-top: 5px;
        color: black;
        font-size: 20px;
        padding: 15px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid #f44336;
        transition: 0.5s;
    }
    .attract a:hover{
        background-color: #f44336;
        border: 2px solid #f44336;
    }

    .attract{
        height: 80vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 70px;
        padding-left: 100px;
    }
    .attract .attract-img img{
        width: 250px;
    }
    .attract .attract-text {
        width: 250px;
    }
   .attract-text h1{
        font-weight: bolder;font-size: 30px;
    }
    .attract .attract-text p{
        width: 250px;
        margin-bottom: 40px;
    }
    .attract a{
    
        margin-top: 5px;
        color: black;
        font-size: 20px;
        padding: 15px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
        border: 2px solid #f44336;
        transition: 0.5s;
    }
    .attract a:hover{
        background-color: #f44336;
        border: 2px solid #f44336;
    }
    .moral p{
        width: 200px;
        margin-left: 100px;
     }
      
    }
